body{
    margin: 0;
   }
    a{
      text-decoration: none;
    }
    .container{
      margin-left: 8vw;
      margin-right: 8vw;
    }
   /* header */
    .header{
      height: 12vh;
      background: white;
    }
    .header .container{
      display: flex;
    }
    .header .container .logo{
      width: 35%;
      margin: auto;
    }
    .header .container .logo .logo-text{
      color: #354463;
      font-weight: 700;
      font-size: 20px;
    }
    .header .container .list-menu{
      width: 65%;
      display: flex;
      list-style: none;
      justify-content: space-around;
      line-height: 5vh;
    }
    .header .container .list-menu .list-item .nav-link{
      color: #354463;
      font-size: 14px;
    }
    .header .container .donation{
      justify-content: flex-end;
      margin: auto;
    }
    .header .container .donation a .btn{
      background: #c1f7d5;
      border: none;
      outline: none;
      border-radius: 20px;
      width: 120px;
      height: 40px;
      color: #354463;
      font-weight: 600;
      cursor: pointer;
    }
   /* -------------------------------------------Responsive-Header------------------------------------- */
      @media screen and (max-width: 768px) and (min-width: 500px){
        .header{
          height: 18vh;
          position: relative;
        }
        .header .container .list-menu{
          order: 1;
          position: absolute;
          bottom: 0;
          left: -1vw;
          width: 50%;
        }
        .header .container .logo{
          position: absolute;
          top: 2vw;
        }
        .header .container .donation{
          position: absolute;
          right: 8vw;
          line-height: 18vh;
        }
      }
      @media screen and (max-width: 500px) {
        .header{
          height: 28vh;
          position: relative;
        }
        .header .container .list-menu{
          flex-direction: column;
          position: absolute;
          width: auto;
          right: 8vw;
        }
        .header .container .logo{
          position: absolute;
          top: 5vh;
        }
        .header .container .logo .logo-text{
          font-size: 18px;
        }
        .header .container .donation{
          position: absolute;
          margin: 0 auto;
          bottom: 2vh;
          width: 80vw;
        }
        .header .container .donation a .btn{
          width: 100%;
        }
      }
      /*---------------------Responsive-header-finisher---------------------*/
/*---------------------section-1---------------------------------------------------*/
.section-1-container {
  background: url("../img/assets/home/annie-spratt-135307-unsplash.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;
 }
 .section-1-container .container {
  display: flex;
  height: 80vh;
  align-items: center;
 }
 .content-1 {
  width: 35vw;
  min-height: 45vh;
  background: white;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
 }
 .content-1 h4 {
  text-align: left;
  font: Bold 30px Helvetica;
  letter-spacing: 0;
  color: #354463;
 }
 .content-1 .content-1-link {
  text-align: left;
  font: Light 16px Helvetica;
  letter-spacing: -0.16px;
  color: #354463;
  opacity: 1;
 }
 .the-issue {
  width: 100px;
  height: 4vh;
  background: #354463;
  color: white;
  line-height: 4vh;
  text-align: center;
  position: absolute;
  top: -2vh;
  left: 3vw;
 }
 .section-1-image {
  background: url("../img/stopclimatechange@2x.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 10vw;
  margin-bottom: 10vh;
  width: 296px;
  height: 224px;
 }
 /*----------------------------Responsive-section-1-----------------*/
 @media screen and (max-width:768px) and (min-width:500px) {
  .section-1-container{
    background: url("../img/assets/home/annie-spratt-135307-unsplash.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
  }
  .section-1-container .container {
    flex-direction: column-reverse;
    height: 80vh;
    justify-content: space-around;
    align-items: flex-start;
  }
  .content-1 {
    width: 85%;
    min-height: 35vh;
    background: white;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-1-image {
    background: url("../img/stopclimatechange@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -1vw;
    width: 181px;
    height: 136px;
  }
 }
 @media screen and (max-width:500px) {
  .section-1-container {
    background: url("../img/assets/home/annie-spratt-135307-unsplash.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;
  }
  .section-1-container .container {
    flex-direction: column-reverse;
    height: 80vh;
    justify-content: space-around;
    align-items: flex-start;
  }
  .content-1 {
    width: 80%;
    min-height: 35vh;
    background: white;
    position: relative;
  }
  .section-1-image {
    background: url("../img/stopclimatechange@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: -1vw;
    width: 181px;
    height: 136px;
  }
  .content-1 h4 {
    text-align: center;
  }
  .content-1 a {
    text-align: center;
  }
 }
 /*--------------------Responsive-section-1-finished------------------------*/

/*-----------------------Section-2-HomePage--------------------------------*/

.actions{
  background: #c1f7d5;
  height: 30vh;
  position: relative;
}
.actions .container{
  display: flex;
  justify-content: space-between;
 }
.actions .container .item{
  margin: 8vh 0;
  width: 20%;
}

.actions .container .para{
  font:bold 22px helvetica;
  color: #354463;
  letter-spacing: 0;
  opacity: 1;
  margin-bottom: 2vh;
}
.actions .container .para-list{
  font:lighter 16px helvetica;
  letter-spacing: -0.16px;
  color: #354463;
  opacity: 1;
}
.actions .take-action{
background: #354463;
font-size: 12px;
color: white;
width: 120px;
padding: 10px;
text-align: center;
position: absolute;
margin: -3vh auto;
left: 45%;
}
/*--------------------------section-2-Homepage-Responsive-----------------------*/

@media screen and (max-width:768px) and (min-width:500px) {
  .actions {
    height: 55vh;
  }
  .actions .container {
    flex-wrap: wrap;
  }
  .actions .container .item {
    width: 40%;
  }
  .actions .take-action{
    left: 40%;
  }
  
 }
 @media screen and (max-width:500px) {
  .actions {
    height: 58vh;
  }
  .actions .container {
    flex-wrap: wrap;
  }
  .actions .container .item {
    width: 40%;

  }
  
 }
 /*----------------------section-2-Homepage-Responsive-Finished------------------------*/

 